# Environment
.env
.venv/
__pycache__/
*.pyc
*.pyo

# Django
*.log
local_settings.py
db.sqlite3
media/*
# git fix for media app
!media/**/*.py
!media/migrations/
!media/urls.py
!media/views.py
!media/tests/
!media/tests/**


# IDE
.vscode/
.idea/
*.swp
